{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
	login page
{% endblock %}

{% block content %}
	<h1>Login</h1>
    <form action="#" method="post">
    {% csrf_token %}
    <table>
        {{ form|crispy }}
    </table>
    <button type="submit">log in</button>
    </form>
    <p class="mt-3">
        <a href="{% url "password_change" %}">change password</a>
        <span> | </span>
        <a href="{% url "password_reset" %}">forget password</a>
    </p>

{% endblock %}